<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Box</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <header>
      <h1>Recipe Box</h1> <a id = "home" href = "/">Home</a>
    </header>

    <!--This is our link list -->
    <div class = "container">
      <%= yield %>
    </div>

  </body>
</html>
